<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" href="/stylesheets/css/index-css/style.css">
     <!--===============================================================================================-->
    <link rel="stylesheet" href="/stylesheets/css/index-css/mdb.css">

  </head>
  <body>
      {{> header }}
    <!--===============================================================================================-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

   <div class="container"></div>
       {{{body}}}

   </div>      
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--===============================================================================================--> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--======================================test=====================================================-->
    <script type="text/javascript" src="javascripts/mdb.min.js"></script>
    <script type="text/javascript" src="javascripts/index.js"></script>
    <script type="text/javascript" src="javascripts/wowheader.js"></script>
    
  </body>
</html>


